@font-face {
  font-family: 'P22UndergroundCYPro-Heavy';
  src: url('../fonts/P22UndergroundCYPro-Heavy.eot');
  src: url('../fonts/P22UndergroundCYPro-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYPro-Heavy.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYPro-Heavy.woff') format('woff'),
  url('../fonts/P22UndergroundCYPro-Heavy.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYPro-Heavy.svg#P22UndergroundCYPro-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22UndergroundCYPro-Demi';
  src: url('../fonts/P22UndergroundCYPro-Demi.eot');
  src: url('../fonts/P22UndergroundCYPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYPro-Demi.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYPro-Demi.woff') format('woff'),
  url('../fonts/P22UndergroundCYPro-Demi.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYPro-Demi.svg#P22UndergroundCYPro-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'P22UndergroundCYPro-Book';
  src: url('../fonts/P22UndergroundCYPro-Book.eot');
  src: url('../fonts/P22UndergroundCYPro-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/P22UndergroundCYPro-Book.woff2') format('woff2'),
  url('../fonts/P22UndergroundCYPro-Book.woff') format('woff'),
  url('../fonts/P22UndergroundCYPro-Book.ttf') format('truetype'),
  url('../fonts/P22UndergroundCYPro-Book.svg#P22UndergroundCYPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DINPro-Light';
  src: url('../fonts/DINPro-Light.eot');
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Light.woff2') format('woff2'),
  url('../fonts/DINPro-Light.woff') format('woff'),
  url('../fonts/DINPro-Light.ttf') format('truetype'),
  url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro-Bold.ttf') format('truetype'),
  url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}