/* Colors */
$about-title-color: #14657d;
$about-title-border-color: #ffff00;
$info-title-color: #14657d;
$info-title-border-color: #ffff00;
$info-text-color: #7a7a7a;
$info-link-color: #999999;
$info-link-border-color: #ffff00;
$exp-link-border-color: #ffff00;
$exp-link-color: #999999;
$exp-title-color: #14657d;
$exp-text-color: #7a7a7a;
$exp-border-color: #ffff00;
$business-title-color: #fff;
$business-text-color: #fff;
$business-link-color: #fff;
$bookshelf-title-color: #14657d;
$bookshelf-text-color: #7a7a7a;
$book-border-color: #ffff00;
$book-number-color: #ffff00;
$book-name-color: #14657d;
$book-description-color: #7a7a7a;
$navigation-button-color: #ccc;
$navigation-arrow-color: #ffff00;
$lectures-title-color: #14657d;
$lectures-subtitle-color: #14657d;
$lectures-theme-color: #14657d;
$lectures-theme-1-border-color: #ffff00;
$lectures-theme-2-border-color: #14657d;
$lectures-theme-3-border-color: rgba(255,255,0,0.65);
$publication-title-color: #14657d;
$articles-title-color: #14657d;
$articles-link-color: #14657d;
$articles-description-color: #7a7a7a;
$themes-title-color: #b3b3b3;
$themes-title-active-color: #ffff00;
$contact-title-color: #14657d;
$contact-link-color: #14657d;
$navigation-link-color: #fff;
$navigation-link-hover-color: #7a7a7a;
$desc-quote-text-color: #fff;
$desc-quote-yellow-text-color: #ffff00;
$desc-border-color: #ffff00;
$desc-author-color: #fff;
$desc-text-color: #fff;
$border-color: #ffff00;
$header-bg-color: #000;
/* Fonts */
$P22-Heavy: 'P22UndergroundCYPro-Heavy', sans-serif;
$P22-Demi: 'P22UndergroundCYPro-Demi', sans-serif;
$P22-Book: 'P22UndergroundCYPro-Book', sans-serif;
$DIN-Light: 'DINPro-Light', sans-serif;
$DIN-Bold: 'DINPro-Bold', sans-serif;
