section.articles
    h2.visually-hidden Статьи
    .articles__navigation
        button.articles__button.articles__button-prev
        button.articles__button.articles__button-next
    ul.articles__list
        li.articles__item
            .articles__item-wrapper
                .articles__title-wrapper
                    img(src="img/article-photo-1.jpg" srcset="img/article-photo-1@2x.jpg 2x, img/article-photo-1@3x.jpg 3x" alt="Секрет фирмы").articles__image
                    h3.articles__title Секретное оружие:
                        span Как хуцпа помогла Израилю стать страной стартапов
                .articles__link-wrapper
                    a(href="").articles__link <img src="img/article-logo-1.png" srcset="img/article-logo-1@2x.png 2x, img/article-logo-1@3x.png 3x" alt="Секрет фирмы" class="articles__logo"> читать
            p.articles__description На недавнем Петербургском форуме профессор Лорен Грэхем из MIT рассуждал, почему мы в России так хорошо умеем изобретать и так плохо — конвертировать идеи в инновации.
                span Ответ в статье Максима Фельдмана.
        //li.articles__item
        //    .articles__item-wrapper
        //        .articles__title-wrapper
        //            img(src="img/article-photo-1.jpg" srcset="img/article-photo-1@2x.jpg 2x, img/article-photo-1@3x.jpg 3x" alt="Секрет фирмы").articles__image
        //            h3.articles__title Секретное оружие:
        //                span Как хуцпа помогла Израилю стать страной стартапов
        //        .articles__link-wrapper
        //            a(href="").articless__link <img src="img/article-logo-1.png" srcset="img/article-logo-1@2x.png 2x, img/article-logo-1@3x.png 3x" alt="Секрет фирмы" class="articles__logo"> читать
        //    p.articles__description На недавнем Петербургском форуме профессор Лорен Грэхем из MIT рассуждал, почему мы в России так хорошо умеем изобретать и так плохо — конвертировать идеи в инновации.
        //        span Ответ в статье Максима Фельдмана.