section.book
    h2.visually-hidden Описание книг
    ul.book__list
        li.book__item
            .book__wrapper
                span.book__number #1
                p.book__name Сын Хамас
                    span.book__name--english Son of Hamas
            p.book__description
                span Удивительная история сына палестинского шейха, принявшего христианство и работавшего на израильскую разведку.
                span Волею судеб я не только лично наблюдал многие из событий, приведенных в этой книге, но еще и очень хорошо знаком с ее главным героем…
        li.book__item
            .book__wrapper
                span.book__number #1
                p.book__name Сын Хамас
                    span.book__name--english Son of Hamas
            p.book__description
                span Удивительная история сына палестинского шейха, принявшего христианство и работавшего на израильскую разведку.
                span Волею судеб я не только лично наблюдал многие из событий, приведенных в этой книге, но еще и очень хорошо знаком с ее главным героем…
        li.book__item
            .book__wrapper
                span.book__number #1
                p.book__name Сын Хамас
                    span.book__name--english Son of Hamas
            p.book__description
                span Удивительная история сына палестинского шейха, принявшего христианство и работавшего на израильскую разведку.
                span Волею судеб я не только лично наблюдал многие из событий, приведенных в этой книге, но еще и очень хорошо знаком с ее главным героем…
        li.book__item
            .book__wrapper
                span.book__number #1
                p.book__name Сын Хамас
                    span.book__name--english Son of Hamas
            p.book__description
                span Удивительная история сына палестинского шейха, принявшего христианство и работавшего на израильскую разведку.
                span Волею судеб я не только лично наблюдал многие из событий, приведенных в этой книге, но еще и очень хорошо знаком с ее главным героем…

    .book__navigation
        button.book__navigation-prev #2
        button.book__navigation-next #24