section.bookshelf#bookshelf
    .container
        .bookshelf__wrapper
            h2.bookshelf__title Книжная полка
            p.bookshelf__text
                span Меня часто спрашивают, что я читаю.
                span  Здесь я буду рассказывать о книгах, которые произвели на меня впечатление, и очень кратко делиться, почему рекомендую их.
            p.bookshelf__text
                span В моем списке вы найдете книги по философии, психологии, истории, политике, межкультурным коммуникациям. И, крайне редко, бизнес-литературу.
            p.bookshelf__text
                span Буду рад, если что-то из моего списка покажется вам интересным и полезным.
            include book
        .bookshelf__image-list
            .bookshelf__image-item
                img(data-src="img/book-1.jpg" data-srcset="img/book-1@2x.jpg 2x, img/book-1@3x.jpg 3x" alt="Son of Hamas").bookshelf__image.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-2.jpg" data-srcset="img/book-2@2x.jpg 2x, img/book-2@3x.jpg 3x" alt="The Culture Map").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-3.jpg" data-srcset="img/book-3@2x.jpg 2x, img/book-3@3x.jpg 3x" alt="Проблема Спинозы").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-4.jpg" data-srcset="img/book-4@2x.jpg 2x, img/book-4@3x.jpg 3x" alt="Еврейское государство").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-5.jpg" data-srcset="img/book-5@2x.jpg 2x, img/book-5@3x.jpg 3x" alt="«Максимы» Ларошфуко").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-6.jpg" data-srcset="img/book-6@2x.jpg 2x, img/book-6@3x.jpg 3x" alt="Человек в поисках смысла").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-7.jpg" data-srcset="img/book-7@2x.jpg 2x, img/book-7@3x.jpg 3x" alt="История Бога").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-8.jpg" data-srcset="img/book-8@2x.jpg 2x, img/book-8@3x.jpg 3x" alt="Startup Nation").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-9.jpg" data-srcset="img/book-9@2x.jpg 2x, img/book-9@3x.jpg 3x" alt="Start with Why").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-10.jpg" data-srcset="img/book-10@2x.jpg 2x, img/book-10@3x.jpg 3x" alt="Русская модель Управления").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-11.jpg" data-srcset="img/book-11@2x.jpg 2x, img/book-11@3x.jpg 3x" alt="Оргуправленческое мышление").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-12.jpg" data-srcset="img/book-12@2x.jpg 2x, img/book-12@3x.jpg 3x" alt="From Beirut to Jerusalem").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-13.jpg" data-srcset="img/book-13@2x.jpg 2x, img/book-13@3x.jpg 3x" alt="When China Rules the World").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-14.jpg" data-srcset="img/book-14@2x.jpg 2x, img/book-14@3x.jpg 3x" alt="SAPIENS").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-15.jpg" data-srcset="img/book-15@2x.jpg 2x, img/book-15@3x.jpg 3x" alt="Lonely Ideas").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-16.jpg" data-srcset="img/book-16@2x.jpg 2x, img/book-16@3x.jpg 3x" alt="Сможет ли Россия конкурировать").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-17.jpg" data-srcset="img/book-17@2x.jpg 2x, img/book-17@3x.jpg 3x" alt="Фактор Успеха").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-18.jpg" data-srcset="img/book-18@2x.jpg 2x, img/book-18@3x.jpg 3x" alt="Иерусалим: Один город, три религии").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-19.jpg" data-srcset="img/book-19@2x.jpg 2x, img/book-19@3x.jpg 3x" alt="Кто за главного?").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-20.jpg" data-srcset="img/book-20@2x.jpg 2x, img/book-20@3x.jpg 3x" alt="Свобода воли. Иллюзия или возможность").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-21.jpg" data-srcset="img/book-21@2x.jpg 2x, img/book-21@3x.jpg 3x" alt="Искусство любить").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-22.jpg" data-srcset="img/book-22@2x.jpg 2x, img/book-22@3x.jpg 3x" alt="Искусство быть").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-23.jpg" data-srcset="img/book-23@2x.jpg 2x, img/book-23@3x.jpg 3x" alt="Иуда").bookshelf__imag.lazyloading
            .bookshelf__image-item
                img(data-src="img/book-24.jpg" data-srcset="img/book-24@2x.jpg 2x, img/book-24@3x.jpg 3x" alt="Внутри мыслящих миров").bookshelf__imag.lazyloading
    a(href="").bookshelf__link Подписаться на обновления