section.book
    h2.visually-hidden Описание книг
    .book__list
        .book__item
            .book__wrapper
                span.book__number #1
                p.book__name Сын Хамас
                    span.book__name--english Son of Hamas
            p.book__description
                span Удивительная история сына палестинского шейха, принявшего христианство и работавшего на израильскую разведку.
                span Волею судеб я не только лично наблюдал многие из событий, приведенных в этой книге, но еще и очень хорошо знаком с ее главным героем…
        .book__item
            .book__wrapper
                span.book__number #2
                p.book__name The Culture Map
                    span.book__name--english
            p.book__description
                span В меру научная и очень практичная книга о культурных особенностях, которые нужно учитывать, работая с разными странами мира.
        .book__item
            .book__wrapper
                span.book__number #3
                p.book__name Проблема Спинозы
                    span.book__name--english
            p.book__description
                span Величайший мыслитель Барух (Бенедикт) Спиноза и высокопоставленный нацист Альфред Розенберг ведут диалог – через века – об этике, жизни и смерти.
        .book__item
            .book__wrapper
                span.book__number #4
                p.book__name Еврейское государство
                    span.book__name--english
            p.book__description
                span Теодор Герцль считал, что государство начинается с идеи. Благодаря этому труду, опубликованному в Германии в 1882 году, появилось современное государство Израиль.
        .book__item
            .book__wrapper
                span.book__number #5
                p.book__name «Максимы» Ларошфуко
                    span.book__name--english
            p.book__description
                span Эмиль Золя говорил, что «Максимы» Ларошфуко «препарируют человеческую душу».
                span Если вы интересуетесь этикой и психологией, то эта книга для Вас.
        .book__item
            .book__wrapper
                span.book__number #6
                p.book__name Человек в поисках смысла
                    span.book__name--english
            p.book__description
                span Слова излишни – просто покупайте, скачивайте, и читайте.
                span Книга сложная, но если вы с ней «поборетесь» и дочитаете до конца, то не пожалеете.
        .book__item
            .book__wrapper
                span.book__number #7
                p.book__name История Бога
                    span.book__name--english
            p.book__description
                span Бывшая католическая монахиня написала потрясающе интересный труд, исследовав четыре тысячи лет исканий единобожия в иудаизме, христианстве и исламе.
        .book__item
            .book__wrapper
                span.book__number #8
                p.book__name Startup Nation
                    span.book__name--english
            p.book__description
                span Прекрасная история о том, как Израиль совершил экономическое чудо, всего за тридцать лет превратившись из страны апельсинов в страну стартапов
                span Если вы связаны со стартапами, но еще не читали эту книгу, то я рекомендую Вам это упущение исправить.
        .book__item
            .book__wrapper
                span.book__number #9
                p.book__name Start with Why
                    span.book__name--english
            p.book__description
                span Идея автора о том, что только большие лидеры знают свой WHY и умеют о нем говорить, сильно повлияла на меня.
                span Но, осторожно - эта книга либо пробудит в вас Лидера, либо, наоборот, его усыпит…
        .book__item
            .book__wrapper
                span.book__number #10
                p.book__name Русская модель Управления
                    span.book__name--english
            p.book__description
                span Глубокий и очень интересный исторический анализ российского подхода к управлению.
                span Считаю эту работу обязательной настольной книгой любого управленца, работающего в России или с Россией.
        .book__item
            .book__wrapper
                span.book__number #11
                p.book__name Оргуправленческое мышление
                    span.book__name--english
            p.book__description
                span Курс лекций советского и российского философа, мыслителя и методолога Георгия Щедровицкого.
                span Если вы – управленец, интересующийся технологиями мышления, то эта книга для вас.
        .book__item
            .book__wrapper
                span.book__number #12
                p.book__name From Beirut to Jerusalem
                    span.book__name--english
            p.book__description
                span Если Вы хотите разобраться в генезисе конфликта на Ближнем Востоке, я очень рекомендую эту книгу.
                span Книга одного из ведущих колумнистов NY Times, хоть и опубликована в 1989 году, по-прежнему сохраняет свою акктуальность.
        .book__item
            .book__wrapper
                span.book__number #13
                p.book__name When China Rules the World
                    span.book__name--english
            p.book__description
                span Британский журналист и исследователь опубликовал эту книгу в 2009 году, аргументируя, что Китай будет играть ключевую роль в миропорядке 21-го века.
                span Тогда, 10 лет назад, еще были некоторые, кто спорил с этими аргументами…
        .book__item
            .book__wrapper
                span.book__number #14
                p.book__name SAPIENS
                    span.book__name--english
            p.book__description
                span Комментарии излишни. Эта книга – must для каждого любознательного человека.
        .book__item
            .book__wrapper
                span.book__number #15
                p.book__name Lonely Ideas
                    span.book__name--english
            p.book__description
                span Интересный взгляд на историю российских технологий с присущим нашей культуре уникальным изобретательским потенциалом и неумением превращать изобретения в коммерческие продукты.
        .book__item
            .book__wrapper
                span.book__number #16
                p.book__name Сможет ли Россия конкурировать
                    span.book__name--english
            p.book__description
                span Исследование 300-летней истории технологических изобретений в России.
                span Автор предлагает свой ответ на вопрос, почему русская изобретательская мысль не смогла оказать влияние на национальную экономику.
        .book__item
            .book__wrapper
                span.book__number #17
                p.book__name Фактор Успеха
                    span.book__name--english
            p.book__description
                span Книга моего товарища и коллеги Андрея Шапенко, который – в понятных схематизированных комиксах – поднимает жизненные вопросы, с которыми сталкивается каждый человек
        .book__item
            .book__wrapper
                span.book__number #18
                p.book__name Иерусалим: Один город, три религии
                    span.book__name--english
            p.book__description
                span Серьезное и глубокое исследование истории Иерусалима. Если Вы осилите эту книгу, а потом посетите сам город, то у Вас есть шанс полюбить Иерусалим так, как люблю его я.
        .book__item
            .book__wrapper
                span.book__number #19
                p.book__name Кто за главного?
                    span.book__name--english
            p.book__description
                span Известный американский нейропсихолог ставит интереснейший вопрос: кто за главного – мы или наш мозг?
                span И существует ли, вообще, такое понятие как «мы»? И предлагает оригинальный ответ на этот вопрос…
        .book__item
            .book__wrapper
                span.book__number #20
                p.book__name Свобода воли. Иллюзия или возможность
                    span.book__name--english
            p.book__description
                span Книга моего коллеги по сообществу выпускников бизнес-школы СКОЛКОВО, в которой он предлагает как примирить современные открытия в нейронауке и социальной психологии с постулатом, что каждый человек имеет свободу выбора и несет за этот выбор ответственность.
        .book__item
            .book__wrapper
                span.book__number #21
                p.book__name Искусство любить
                    span.book__name--english
            p.book__description
                span В своем взгляде на понятие любви философ и психолог Эрих Фромм фокусируется на внутренней полемике человека: «я хочу любить» и «я хочу быть любимым».
                span И делает глубокие выводы, которые заставляют задуматься о целостности собственной жизни.
        .book__item
            .book__wrapper
                span.book__number #22
                p.book__name Искусство быть
                    span.book__name--english
            p.book__description
                span Серьезный, но при этом вполне доступный труд о внутренних потребностях человека, который стремится перейти из состояния «я то, что я имею» или «я таков, каким вы меня желаете», в состояние «я то, что я есть».
        .book__item
            .book__wrapper
                span.book__number #23
                p.book__name Иуда
                    span.book__name--english
            p.book__description
                span Роман израильского писателя Амоса Оза представляет собой необычный взгляд на сущность Иуды - «главного предателя» в истории западной культуры.
                span Оз реконструирует библейскую историю с позиции самого «предателя», и пробрасывает мостики на противоречия в идеологиях современного мира.
        .book__item
            .book__wrapper
                span.book__number #24
                p.book__name Внутри мыслящих миров
                    span.book__name--english
            p.book__description
                span Эта книга выдающегося советского ученого Юрия Лотмана, посвящена семиотике – науке, исследующей свойства знаков и знаковых систем.
                span На примере известных текстов автор показывает, как символы и знаки используются для передачи смыслов от писателя к читателю.
    .book__navigation
        button.book__navigation-prev #2
        button.book__navigation-next #24