section.bookshelf#bookshelf
    .container
        .bookshelf__wrapper
            h2.bookshelf__title Книжная полка
            p.bookshelf__text
                span Меня часто спрашивают, что я читаю.
                span Здесь я буду рассказывать о книгах, которые произвели на меня впечатление и очень кратко делиться, почему рекомендую их.
            p.bookshelf__text
                span В моем списке вы найдете книги по философии, психологии, истории, политике, межкультурным коммуникациям. И, крайне редко, бизнес-литературу.
            p.bookshelf__text
                span Буду рад, если что-то из моего списка покажется вам интересным и полезным.
            include book
        ul.bookshelf__image-list
            li.bookshelf__image-item
                img(src="img/book-1.jpg" srcset="img/book-1@2x.jpg 2x, img/book-1@3x.jpg 3x" alt="Son of Hamas").bookshelf__image
            li.bookshelf__image-item
                img(src="img/book-1.jpg" srcset="img/book-1@2x.jpg 2x, img/book-1@3x.jpg 3x" alt="Son of Hamas").bookshelf__image
            li.bookshelf__image-item
                img(src="img/book-1.jpg" srcset="img/book-1@2x.jpg 2x, img/book-1@3x.jpg 3x" alt="Son of Hamas").bookshelf__image
            li.bookshelf__image-item
                img(src="img/book-1.jpg" srcset="img/book-1@2x.jpg 2x, img/book-1@3x.jpg 3x" alt="Son of Hamas").bookshelf__image
    a(href="").bookshelf__link Подписаться на обновления