section.business
    .business__title-wrapper
        h2.business__title Мое дело
    .container
        .business__wrapper
            p.business__text
                span Московская школа управления СКОЛКОВО.
                span Директор программ MBA и EMBA, Член Правления.
            p.business__text
                span Мы с коллегами называем наше место работы просто "Школа". Мне нравится работать в Школе потому, что мы делаем большое и интересное дело: помогаем участникам наших программ сделать шаг в лидерстве, предпринимательстве и мышлении.
                span А значит, стать агентами трансформации своих организаций и отраслей,  своих городов и регионов, своих стран.
            p.business__text
                span Если Вы еще не бывали на нашем кампусе,
                span то я приглашаю Вас в гости!
            p.business__text
                span Подробнее о Московской школе управления СКОЛКОВО:
                span
                    a(href="https://www.skolkovo.ru", target="_blank").business__link www.skolkovo.ru
        .business__image-wrapper
            img(data-src="img/campus.png" data-srcset="img/campus@2x.png 2x, img/campus@3x.png 3x" alt="Campus").business__image.lazyloading