section.description
    blockquote.description__quote
        p.description__quote-text «<span class="description__quote-text--yellow">Будь</span> самим <span class="description__quote-text--yellow">собой</span>, остальные роли уже заняты»
        p.description__quote-author (Оскар Уайльд)
    p.description__author Maxim
        span Feldman
    .description__wrapper
        p.description__text Переводчик, проповедник, предприниматель, управленец, андрагог – вот ипостаси, которые я сумел перебрать к сорока шести годам.
            span Жил в России, Америке, Израиле – и снова в России.
            span Занимался международным бизнесом и побывал в пятидесяти странах мира.
        p.description__text Но что бы я ни делал, и где бы ни бывал, самым важным для меня всегда были встречи с яркими и интересными людьми.
        p.description__text Я сделал этот сайт для того, чтобы рассказывать
            span о себе и знакомиться с единомышленниками – теми,
            span кто не боится быть самим собой!