section.experience
    h2.visually-hidden Трудовой опыт
    ul.experience__list
        li.experience__item
            h3.experience__title 1998 ПО 2012 ГОД ЖИЛ В ИЗРАИЛЕ И США
            p.experience__description где работал в индустрии high-tech, продвигая американские и израильские технологии в странах Евразии
        li.experience__item
            h3.experience__title В 2003 ГОДУ СОЗДАЛ КОМПАНИЮ В ИЗРАИЛЕ, А В 2009 – В РОССИИ
            p.experience__description и занимался системной интеграцией в области телекоммуникаций и информационных технологий
        li.experience__item
            h3.experience__title В 2012 ГОДУ ВЕРНУЛСЯ В РОССИЮ
            p.experience__description и поступил на программу СКОЛКОВО Executive MBA, которую окончил в 2014 г.
        li.experience__item
            h3.experience__title В 2013 ГОДУ ПРОДАЛ БИЗНЕС
            p.experience__description и полтора года управлял российским дистрибьютером телекоммуникационного оборудования
        li.experience__item
            h3.experience__title В 2015 ГОДУ ПРИСОЕДИНИЛСЯ К КОМАНДЕ БИЗНЕС-ШКОЛЫ СКОЛКОВО
            p.experience__description где сегодня управляю развитием программ MBA и Executive MBA
    a(href="").experience__link Подробнее
