footer.contacts#contacts
    .container
        h2.contacts__title Мои контакты
        .contacts__wrapper
            ul.contacts__list
                li.contacts__item
                    a(href="https://www.linkedin.com/maxim.feldman").contacts__link <svg class="contacts__icon"><use xlink:href="img/sprite.svg#linkedin"></svg></symbol> www.linkedin.com/maxim.feldman
                li.contacts__item
                    a(href="mailto:info@maximfeldman.com").contacts__link <svg class="contacts__icon"><use xlink:href="img/sprite.svg#mail"></svg></symbol> info@maximfeldman.com

            ul.contacts__list
                li.contacts__item
                    a(href="https://www.facebook.com/maxim.feldman.73").contacts__link <svg class="contacts__icon"><use xlink:href="img/sprite.svg#facebook"></svg></symbol> www.facebook.com/maxim.feldman.73
                li.contacts__item
                    a(href="https://www.youtube.com/maxim.feldman").contacts__link <svg class="contacts__icon"><use xlink:href="img/sprite.svg#youtube"></svg></symbol> www.youtube.com/maxim.feldman