section.info
    h2.info__title Кратко
    p.info__text Родился и вырос в Москве в семье инженера-управленца и преподавателя иностранных языков. Окончил среднюю школу с углубленным изучением английского языка, учился на историческом факультете МГУ.
    p.info__text В девятнадцать лет стал протестантским проповедником, проводил миссионерскую деятельность в разных странах. Затем работал в международном благотворительном фонде, занимался маркетингом в индустрии FMCG, тренировался в предпринимательстве -  привозил в Москву западных музыкантов…
    p.info__text В 1998 г. иммигрировал в Израиль, где построил сначала корпоративную, а затем предпринимательскую карьеру.
    p.info__text Увлекаюсь философией, шахматами и рыбалкой. Опытный дайвер – более трехсот погружений. Женат, воспитываю двух дочерей и сына.
