section.lectures#lecturies
    .container
        h2.lectures__title На трибуне
        p.lectures__subtitle Я публикуюсь и выступаю
            span по следующим темам:
        ul.lectures__list
            li.lectures__item
                p.lectures__theme <span class="lectures__theme--bold">Обучение</span> во взрослом <span>возрасте</span>
            li.lectures__item
                p.lectures__theme <span class="lectures__theme--bold">Управление</span> продажами
            li.lectures__item
                p.lectures__theme Личная <span class="lectures__theme--bold">трансформация</span>
            li.lectures__item
                p.lectures__theme Межкультурные <span class="lectures__theme--bold">коммуникации</span>
            li.lectures__item
                p.lectures__theme <span class="lectures__theme--bold">Культура</span> инноваций
