nav.navigation
    input(type="checkbox").navigation__input#toggle
    label(for="toggle").navigation__label
        span.navigation__close
    ul.navigation__list
        li.navigation__item
            a(href="#about").navigation__link Обо мне
        li.navigation__item
            a(href="#lecturies").navigation__link На трибуне
        li.navigation__item
            a(href="#bookshelf").navigation__link Книжная полка
        li.navigation__item
            a(href="#publications").navigation__link Мои публикации
        li.navigation__item
            a(href="#contacts").navigation__link Контакты