section.themes
    h2.visually-hidden Темы статей
    ul.themes__list
        li.themes__item
            h3.themes__title.themes__title--active Секретное оружие: Как хуцпа помогла Израилю стать страной стартапов
        li.themes__item
            h3.themes__title «Ключевым вопросом новой программы MBA будет бизнес в Евразии»