doctype html
html(lang="ru")
    include pug/head
    body.page
        include pug/blocks/header
        include pug/blocks/about
        include pug/blocks/business
        include pug/blocks/lectures
        include pug/blocks/bookshelf
        include pug/blocks/publications
        include pug/blocks/footer