.book {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 6px 25px 25px;
  border: solid 2px $book-border-color;
  @media (max-width: 900px) {
    padding: 6px 15px 25px;
  }
  &__list {
    & .slick-track {
      display: flex!important;
      align-items: self-start;
    }
  }
  &__item {
    &:nth-child(12) {
      .book__name {
        font-size: 26px;
      }
    }
    &:nth-child(17) {
      .book__name {
        font-size: 30px;
      }
    }
  }
  &__wrapper {
    display: flex;
    margin-bottom: 15px;
    margin-right: 100px;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
  }
  &__number {
    margin: 0 30px 0 0;
    color: $book-number-color;
    font-family: $DIN-Bold;
    font-size: 87px;
    line-height: 106px;
    letter-spacing: -1px;
  }
  &__name {
    margin: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: $book-name-color;
    font-family: $P22-Heavy;
    font-size: 40px;
    &--english {
      font-family: $P22-Book;
      font-size: 19px;
      margin-left: 10px;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    max-width: 575px;
    margin: 0;
    color: $book-description-color;
    font-family: $P22-Book;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.8px;
  }
  &__navigation {
    position: absolute;
    right: 25px;
    top: 15px;
    display: flex;
    flex-direction: column;
    &-prev {
      position: relative;
      margin-bottom: 10px;
      padding: 5px 30px 5px 0;
      color: $navigation-button-color;
      font-family: $DIN-Bold;
      font-size: 23px;
      line-height: 37px;
      letter-spacing: -0.3px;
      border: none;
      background: none;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 12px;
        width: 30px;
        height: 4px;
        transform: rotate(-45deg);
        background-color: $navigation-arrow-color;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 12px;
        width: 30px;
        height: 4px;
        transform: rotate(45deg);
        background-color: $navigation-arrow-color;
      }
    }
    &-next {
      position: relative;
      padding: 5px 0 5px 30px;
      color: $navigation-button-color;
      font-family: $DIN-Bold;
      font-size: 23px;
      line-height: 37px;
      letter-spacing: -0.3px;
      border: none;
      background: none;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 12px;
        width: 30px;
        height: 4px;
        transform: rotate(-45deg);
        background-color: $navigation-arrow-color;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 12px;
        width: 30px;
        height: 4px;
        transform: rotate(45deg);
        background-color: $navigation-arrow-color;
      }
    }
  }
}