.description {
  position: relative;
  min-height: 575px;
  padding: 30px 30px 0;
  border-top: 7px solid $desc-border-color;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    border-bottom: 7px solid $desc-border-color;
    @media (max-width: 900px) {
      width: 100%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 57%;
    border-right: 7px solid $desc-border-color;
    @media (max-width: 900px) {
      height: 100%;
    }
  }
  &__quote {
    position: relative;
    max-width: 655px;
    margin: 0 0 30px -50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 899px) {
      margin: 0 0 45px -30px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top:-30px;
      width: 7px;
      height: 20px;
      background-color: $desc-border-color;
      @media (min-width: 900px) {
        left: 20px;
      }
    }
    &-text {
      margin: 0 0 10px;
      color: $desc-quote-text-color;
      font-family: $DIN-Bold;
      font-size: 28px;
      letter-spacing: -0.5px;
      &--yellow {
        color: $desc-quote-yellow-text-color;
      }
    }
    &-author {
      align-self: flex-end;
      margin: 0;
      color: $desc-quote-text-color;
      font-family: $DIN-Light;
      font-size: 18px;
      line-height: 18px;
    }
  }
  &__author {
    margin: 0 0 20px -50px;
    display: flex;
    flex-direction: column;
    color: $desc-author-color;
    font-family: $P22-Heavy;
    font-size: 81px;
    line-height: 65px;
    text-transform: uppercase;
    @media (max-width: 899px) {
      font-size: 60px;
      margin: 0 0 40px -30px;
    }
  }
  &__text {
    position: relative;
    max-width: 630px;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    color: $desc-text-color;
    font-family: $DIN-Light;
    font-size: 18px;
    line-height: 20px;
  }
  &__wrapper {
    position: relative;
    padding-bottom: 31px;
    padding-top: 20px;
    &::before {
      content: "";
      position: absolute;
      left: -30px;
      top:0;
      width: 7px;
      height: 100%;
      background-color: $desc-border-color;
    }
    &::after {

    }
  }
}