.info {
  margin-right: 70px;
  margin-bottom: 40px;
  @media (max-width: 900px){
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    max-width: 335px;
    padding-bottom: 20px;
    margin: 0 0 10px;
    color: $info-title-color;
    font-family: $P22-Heavy;
    font-size: 29px;
    line-height: 22px;
    text-transform: uppercase;
    border-bottom: 2px solid $info-title-border-color;
  }
  &__text {
    max-width: 520px;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    color: $info-text-color;
    font-family: $DIN-Light;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.3px;
    @media (max-width: 900px) {
      max-width: 570px;
    }
  }
}