.lectures {
  position: relative;
  min-height: 800px;
  padding: 75px 85px 0 50px;
  background: url("../img/author.png") no-repeat calc(50% - 70px) bottom;
  background-size: 606px 546px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../img/author@2x.png");
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    background-image: url("../img/author@3x.png");
  }
  @media (max-width: 900px) {
    padding: 75px 15px 0;
  }
  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 200px);
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px;
    border-color: transparent transparent $lectures-theme-3-border-color transparent;
    @media (max-width: 900px) {
      display: none;
    }
  }
  @media (max-width: 1120px) {
    background: none;
  }
  &__title {
    align-self: center;
    margin: 0 0 15px;
    color: $lectures-title-color;
    font-family: $P22-Heavy;
    font-size: 53px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid $border-color;

  }
  &__subtitle {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: $lectures-subtitle-color;
    font-family: $P22-Book;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: center;
    @media (max-width: 900px){
      margin-bottom: 30px;
    }
  }
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
      align-items: center;
    }
  }
  &__item {
    position: relative;
    @media (max-width: 900px) {
      text-align: left!important;
      margin: 0 0 50px!important;
      border-bottom: 2px solid $lectures-theme-1-border-color;
    }
    @media (max-width: 900px) {
      &::before,
      &::after {
        display: none;
      }
    }
    &:nth-child(1) {
      margin-bottom: 10px;
      &::before {
        content: "";
        position: absolute;
        left: -52px;
        top: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px;
        border-color: transparent transparent transparent $lectures-theme-1-border-color;
      }
      &::after {
        content: "";
        position: absolute;
        left: 300px;
        top: 120px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px;
        border-color: transparent transparent transparent $lectures-theme-1-border-color;
        transform: rotate(-45deg);
        z-index: -1;
      }
    }
    &:nth-child(2) {
      margin-bottom: 100px;
      text-align: right;
      &::before {
        content: "";
        position: absolute;
        right: -85px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px;
        border-color: transparent $lectures-theme-1-border-color transparent transparent;
      }
    }
    &:nth-child(3) {
      margin-left: 35px;
      margin-bottom: 5px;
      &::after {
        content: "";
        position: absolute;
        left: -30px;
        top: 60px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px;
        border-color: transparent transparent $lectures-theme-2-border-color transparent;
        transform: rotate(55deg);
        z-index: -1;
      }
    }
    &:nth-child(4) {
      text-align: right;
      margin-right: 35px;
      &::after {
        content: "";
        position: absolute;
        right: -50px;
        top: 60px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px;
        border-color: transparent transparent $lectures-theme-2-border-color transparent;
        transform: rotate(-45deg);
        z-index: -1;
      }
    }
    &:nth-child(5) {
      margin-left: 210px;
    }
  }
  &__theme {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: $lectures-theme-color;
    font-family: $P22-Book;
    font-size: 33px;
    line-height: 36px;
    letter-spacing: -0.5px;
    @media (max-width: 900px) {}
    &--bold {
      font-family: $P22-Demi;
    }
  }
  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    @media (max-width: 900px) {
      height: 87vw;
      max-height: 550px;
      max-width: 600px;
      margin: 0 auto;
      background: url("../img/author.png") no-repeat center bottom;
      background-size: 100% auto;
    }
  }
}