.publications {
  min-height: 800px;
  padding: 110px 90px 70px 95px;
  @media (max-width: 900px) {
    padding: 110px 15px 70px;
  }
  &__title {
    margin: 0 0 50px;
    color: $publication-title-color;
    font-family: $P22-Heavy;
    font-size: 57px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    @media (max-width: 900px){
      font-size: 40px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
      justify-content: center;
    }
  }
  & .container {
    max-width: 1100px;
  }
}